* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    min-height: 100vh;
    position: relative;
}

main {
    margin-bottom: 250px;
}

/* navbar */

#logo {
    position: absolute;
    top: 10px;
    left: 9.5%;
}

#logo img {
    width: 50px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161616;
    padding: 20px;
    text-transform: uppercase;
    list-style: none;
}

#navbar li {
    margin: 0 10px;
    padding: 5px;
}

#navbar .nav-link {
    color: #fff;
    text-decoration: none;
    transition: .5s;
    font-size: 14px;
}

#navbar .nav-link:hover {
    color: #999;
}

/* footer */

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #161616;
    color: #fff;
    padding: 50px 0;
}

/* Home */

#title-container {
    min-width: 500px;
    text-align: center;
    margin-top: 30px;
}

#title-container h1 {
    font-size: 50px;
}

#title-container p {
    margin-top: 10px;
    text-transform: uppercase;
    color: #999;
}

#posts-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.post-box:first-child {
    min-width: 100%;
}

.post-box {
    flex: 1 1 0;
    margin-bottom: 20px
}

.post-box:nth-child(3) {
    margin: 0 1%;
}

.post-box img {
    width: 100%;
}

.post-box .post-title {

    font-size: 24px;
    margin: 10px 0;
}

.post-box .post-title a {
    text-decoration: none;
    color: #000;
    transition: .5s;
}

.post-box .post-title a:hover {
    color: #4a4191;
}

.post-box .post-description {
    color: #666;
}

.tags-container {
    margin-top: 10px;
}

.tags-container a {
    background-color: #161616;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    display: inline-block;
    margin-right: 5px;
    transition: .5s;
}

.tags-container a:hover {
    background-color: #4a4191;
}

/* POST */

#post-container {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
    grid-template-areas: "main sidebar";
    grid-gap: 10px;
    padding-top: 30px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 250px;
}

.content-container {
    grid-area: main;
}

#main-title {
    font-size: 36px;
    margin-bottom: 30px;
}

#post-description {
    font-style: italic;
    margin-bottom: 40px;
}

.post-content {
    line-height: 1.8;
    margin: 10px 0;
}

.img-container {
    margin-bottom: 30px;
}

.img-container img {
    width: 60%;
}

/* Aside post */
.nav-container {
    grid-area: sidebar;
}

#tag-title, #categories-title {
    font-size: 24px;
    margin-bottom: 10px;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-weight: 600;
}

#tag-list, #categories-list {
    list-style: none;
}

#tag-list li, #categories-list li {
    margin-bottom: 10px;
}

#tag-list a, #categories-list a {
    font-weight: 600;
    text-decoration: none;
    color: #666;
    transition: .5s;
}

#tag-list a:hover, #categories-list a:hover {
    color: #4a4191;
}

/* contato */

.avatar-content {
    background-color: #161616;
    border-radius: 120px;
    width: 590px;
    height: auto;
    padding: 10px;
    margin: 80px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-content img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 3px solid #ffffff;
}

.avatar-content h2 {
    color: #ffffff;
    padding: 10px;
}

.btn_social { 
	width:100%; 
	float:left; 
	display:flex; 
	margin:auto; 
}

.btn_social ul  { 
	width:auto; 
	margin:auto; 
	float:left; 
	display:block; 
}

.btn_social ul li  { 
	position:relative; 
	background:#555555; 
	list-style:none; 
	float:left; 
	margin:5px; 
	z-index:1; 
	overflow:hidden; 
	border-radius:3px; 
	font-size:1.5em; 
	text-align:center; 
}

.btn_social ul li img { 
    margin: 10px;
    width: 30px;
}

.btn_social ul li a  { 
	width:50px; 
	height:50px; 
	line-height:53px; 
	display:block; 
	text-decoration:none; 
	color:#fff; 
	transition:.4s;
}

.btn_social ul li::before { 
	transition:0.4s; 
	position:absolute; 
	content:''; 
	width:100%; 
	height:100%; 
	top:90%; 
	left:0; 
	background:#414141; 
	z-index:-1; 
	transform: scale(1); 
	transition:.4s; 
}

.btn_social ul li:hover::before { transition:0.4s; top:0%; }

.btn_social ul li a:hover { color:#555555; }